h1, h2, h3, h4 {
    text-align: center;
}

footer {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

header {
    background-color: #CAEBF2;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

header a {
    color = #696969;
    font-size: 20px;
}

body {
    /*background-color: #EFEFEF;*/
    font-family: 'Josefin Sans', sans-serif;
}

#chartContainer {
    margin:-100;
    padding:0;
}

div {
    text-align: center;
}

#ring_charts svg {
    width: 300px;
    padding-left: 12%;
    fill: #696969;
}

#senators-displayed, #tweets-displayed, #average-tweets-display, #average-polarity-display {
    font-size: 20px;
    text-align: center;
    padding-left: 45%;
}

body h4 {
    color: #FF717E;
}

footer a {
    color: #FF717E;
}
