{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Political Discussion</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/TwitterData.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="//dimplejs.org/dist/dimple.v2.1.6.min.js"></script>
    <script src = 'https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js' type = "text/javascript"></script>
    <script type="text/javascript" src="https://rawgithub.com/NickQiZhu/dc.js/master/web/js/crossfilter.js"></script>
    <script src= "http://cdnjs.cloudflare.com/ajax/libs/dc/1.7.5/dc.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/dc/1.7.5/dc.css"
     media="screen" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <h1>Political Discussion on Twitter</h1>
        </div>
        <div class="row">
          <div class="col-md-4"><a href = "/about"> About the Project </a></div>
          <div class="col-md-4"><a href = "/analysis"> Analysis </a></div>
          <div class="col-md-4"><a href = "/"> Home </a></div>
        </div>
      </div>
    </header>
  	<div class="container">
      <br>
  		{% block content %}
    	{% endblock %}
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4"><a href = "https://github.com/aspittel/MediaBias"> Source Code </a></div>
          <div class="col-md-4">A Hamilton College Government Department Senior Project</div>
          <div class="col-md-4">by Ali Spittel</div>
        </div>
      </div>
    </footer>
  </body>
</html>
