{% extends 'TwitterData/base.html' %}

{% block content %}
  <div class="container">
    <div class="row"><b>Tweet Count: </b> {{ tweet_count }}</div>
    <div class="row"><b>Avg Polarity: </b> {{ avg_polarity }}</div>
  </div>
  <div id = "chartContainer"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Senators</h3>
        <table class = "table table-striped">
          <thead>
            <tr>
              <th>Senator</th>
              <th>Tweets About</th>
              <th>Avg Polarity</th>
            </tr>
          </thead>
          <tbody>
            {% for senator in senators %}
            <tr>
              <td>{{ senator.name }}</td>
              <td>{{ senator.num_tweets}}</td>
              <td>{{ senator.avg_polarity }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
