{% extends 'TwitterData/base.html' %}
{% load humanize %}

{% block content %}
<h1 class="center">Tweets About: {{word}}</h1>
<div class="row"><b>Tweet Count: </b>{{ tweet_count }}</div>
<div class="row"><b>Average Positivity: </b>{{ polarity }}</div>
<div class="row"><b>Tweets by Verified Users: </b> {{ tweets_by_verified_users }}</div>
<div class="row"><b>Senators Maletioned by Verified Users: </b> {% for senator in senators_Maletioned_by_verified_users %}{{ senator }}{% if not forloop.last %}, {% endif %}{% endfor %} </div>
<div id="chartContainer"></div>
<h3 class="center">Differences in Discussion</h3>
<h5>The statistical difference field represents the p-value from an adjusted chi-square test. If the p-value is less than 0.05, there is evidence that the differences in discussion are statistically significant.</h5>
  <div class="row">
    <div class="col s12 m4">
      <div class="card-panel blue lighten-1">
        <span class="white-text">
          <h3 class="center">Tweets by Gender</h3>
          <h6><b>Tweets about Male Senators: </b>{{ male_tweets | intcomma }}</h6>
          <h6><b>Tweets about Female Senators: </b>{{ female_tweets | intcomma }}</h6>
          <h6 class="difference"><b>Statistical Difference: </b>{{ stat_difference_gender }}</h6>
        </span>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card-panel red lighten-1">
        <span class="white-text">
          <h3 class="center">Tweets by Party</h3>
          <h6><b>Tweets about Republican Senators: </b>{{ republican_tweets | intcomma }}</h6>
          <h6><b>Tweets about Democratic Senators: </b>{{ democratic_tweets | intcomma }}</h6>
          <h6 class="difference"><b>Statistical Difference: </b>{{ stat_difference_party }}</h6>
        </span>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card-panel grey lighten-1">
        <span class="white-text">
          <h3 class="center">Tweets about Women by Party</h3>
          <h6><b>Tweets about Republican Female Senators: </b>{{ female_republican_tweets | intcomma }}</h6>
          <h6><b>Tweets about Democratic Female Senators: </b>{{ female_democrat_tweets | intcomma }}</h6>
          <h6 class="difference"><b>Statistical Difference: </b>{{ stat_difference_women}}</h6>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <div class="card-panel grey darken-1">
        <span class="white-text">
          <h3 class="center">Tweets about Men by Party</h3>
          <h6><b>Tweets about Republican Male Senators: </b>{{ male_republican_tweets | intcomma }}</h6>
          <h6><b>Tweets about Democratic Male Senators: </b>{{ male_democrat_tweets | intcomma }}</h6>
          <h6 class="difference"><b>Statistical Difference: </b>{{ stat_difference_men }}</h6>
        </span>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card-panel red lighten-3">
        <span class="white-text">
          <h3 class="center">Tweets about Republicans by Gender</h3>
          <h6><b>Tweets about Republican Male Senators: </b>{{ male_republican_tweets | intcomma }}</h6>
          <h6><b>Tweets about Republican Female Senators: </b>{{ female_republican_tweets | intcomma }}</h6>
          <h6 class="difference"><b>Statistical Difference: </b>{{ stat_difference_republicans }}</h6>
        </span>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card-panel blue lighten-3">
        <span class="white-text">
          <h3 class="center">Tweets about Democrats by Gender</h3>
          <h6><b>Tweets about Democratic Male Senators: </b>{{ male_democrat_tweets | intcomma }}</h6>
          <h6><b>Tweets about Democratic Female Senators: </b>{{ female_democrat_tweets | intcomma }}</h6>
          <h6 class="difference"><b>Statistical Difference: </b>{{ stat_difference_democrats }}</h6>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-panel red lighten-1">
      <span class="white-text">
        <h3 class="center">Total Tweets by Group</h3>
        <div class="col m6 center">
          <h6><b>Tweets about Democratic Male Senators: </b>{{ male_democrat_tweets | intcomma }}</h6>
          <h6><b>Tweets about Democratic Female Senators: </b>{{ female_democrat_tweets | intcomma }}</h6>
        </div>
        <div class="col m6 center">
          <h6><b>Tweets about Republican Male Senators: </b>{{ male_republican_tweets | intcomma }}</h6>
          <h6><b>Tweets about Republican Female Senators: </b>{{ female_republican_tweets | intcomma }}</h6>
        </div>
        <h6 class="difference center"><b>Statistical Difference: </b>{{ stat_difference_party_gender }}</h6>
      </span>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
  $(document).ready(function(){
      // Render the chart
      // Similar to example found here: https://google-developers.appspot.com/chart/interactive/docs/gallery/columnchart
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var count_by_senator = {{ count_by_senator | safe }}
        var data = [["Senator", "Count"]];

        for (var senator in count_by_senator){
          data.push([senator, count_by_senator[senator]])
        };

        var data = google.visualization.arrayToDataTable(data);
        var view = new google.visualization.DataView(data);

        var options = {
          title: "Mentions Per Senator",
          width: '100%',
          height: 800,
          bar: { groupWidth: "95%" },
          legend: { position: "none" },
          fontName: 'roboto',
          titleTextStyle:{
            color: "black",
            fontSize: 22,
            fontName: "roboto"
          },
          colors:['#FF3B3F'],
          chartArea: {'width': '80%', 'height': '80%'},
        };

        var chart = new google.visualization.BarChart(document.getElementById("chartContainer"));
        chart.draw(view, options);
      }
    })
  </script>
{% endblock %}
