{% extends 'TwitterData/base.html' %}

{% block content %}
  <div class="container">
    <div class="row"><h3> Senator {{ senator.name }} </h3></div>
    <div class="row"><b>Gender:</b> {{ senator.gender }} </div>
    <div class="row"><b>Party:</b> {{ senator.party }} </div>
    <div class="row"><b>Search Terms:</b> {{ senator.search_terms }}</div>
    <div class="row"><b>Next Election Year:</b> {{ senator.election_year }}</div>
    <div class="row"><b>Tweet Count: </b> {{ tweet_count }}</div>
    <div class="row"><b>Average Tweet Polarity: </b> {{ avg_polarity }}</div>
    <div class="row"><a href = "{{ twitter_url }}">{{ senator.name }}'s Twitter </a></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Most Used Words</h3>
        <table class = "table table-striped">
          <thead>
            <tr>
              <th>Count</th>
              <th>Word</th>
            </tr>
          </thead>
          <tbody>
            {% for word, count in most_used_words.items %}
            <tr>
              <td>{{ count }}</td>
              <td>{{ word }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
